.form-row > .col {
  display: flex;
  justify-content: center;
}
form {
  width: 450px;
  margin-top: 32px;
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 32px;
}
form label {
  width: 100%;
}
form .error {
  color: #f44336;
}

form .error:empty {
  display: none;
}
