main {
  border: 1px solid black;
  padding: 3rem;
}
main::before {
  content: "Main";
  display: block;
  font-size: 1.5rem;
  font-style: italic;
}

#outer-div {
  border: 1px solid black;
  padding: 3rem;
}
#outer-div::before {
  content: "Outer div";
  display: block;
  font-size: 1.5rem;
  font-style: italic;
}
